# Логи
*.log
app.log

# Данные runtime
pids
*.pid
*.seed

# Конфигурационный файл прокси
config/proxy-config.js

# Каталог для инструментированных библиотек, сгенерированных jscoverage/JSCover
lib-cov

# Каталог для покрытия, используемый инструментами, такими как istanbul
coverage

# Среда хранения промежуточных результатов Grunt (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Конфигурационный файл node-waf
.lock-wscript

# Компиляция бинарных дополнений (http://nodejs.org/api/addons.html)
build/Release

# Каталоги зависимостей
node_modules/

# Оpcional directory for npm cache
.npm

# Optional REPL history
.node_repl_history

# Переменные окружения
.env

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Конфигурационный файл Prettier
.prettierrc
